
body{
    background-color: #f3e9f1 
}

 /*.card-img{
    background-size: cover;
    height: auto;
    width: 150px;
}

*/

/* == Header == */



/* == Nav == */

a{
    color: #261624;
}

.nav-site ul li a{
    color: #261624;
    text-decoration: none;
}





