
body{
    background-color: #f3e9f1 
}

/* == Header == */

.card img{
object-fit: cover;
}

/* == Nav == */

a{
    color: #261624;
}

.nav-site ul li a{
    color: #261624;
    text-decoration: none;
}


/** FOOTER **/

footer{
    background-color: white;
}




