/* Grey : #3D3A3C */

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f3e9f1 
}

/* == Header == */


header{
    margin: 0;
    box-shadow: 1px 1px 10px black;
}

.card img{
object-fit: cover;
}

/* == Nav == */

a{
    color: #261624;
}

.nav-site ul li a{
    color: #261624;
    text-decoration: none;
}

#alreadyInCart{
    visibility: hidden;
}

#addSuccess{
    visibility: hidden;
}


/* -= BODY =- */

.title{
    margin-top: 20px;
}

.articleContent{
    background-color: #3D3A3C;
}

.card{
    background: #f3e9f1;
}

.card .btn{
    background-color: #261624;
    color: #f3e9f1;
}

.carousel img{
    object-fit: cover;
    height: 550px;
    width: 100%;
}

/** FOOTER **/

footer{
    background-color: #261624;
}




